{% extends "base.html" %}
{% block title %}
  <title>About me</title>
{% endblock title %}

{% block body %}
<div class="hero overlay inner-page bg-primary py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center pt-5">
        <div class="col-lg-6">
          <h1 class="heading text-white mb-3" data-aos="fade-up">About Us</h1>
        </div>
      </div>
    </div>
  </div>

<section class="section about-section " id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color text-success fw-bold">About Me</h3>
                    <h6 class="theme-color lead fw-bolder">Software developer in Hyderabad</h6>
                    <p class="">I am a highly motivated and fast-learning software enthusiast with a strong foundation in coding and a
                      passion for solving complex problems, eager to contribute my skills and dedication to a dynamic software
                      development team.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label class="fw-bold">Birthday</label>
                                <p>5th january 1999</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Age</label>
                                <p>24 Yr</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Residence</label>
                                <p>Hyderabad</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Address</label>
                                <p>Hyderabad, INDIA</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label class="fw-bold">E-mail</label>
                                <p>sathichary581@gmail.com</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Phone</label>
                                <p>703-248-8372</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Skype</label>
                                <p>skype.0404</p>
                            </div>
                            <div class="media">
                                <label class="fw-bold">Freelance</label>
                                <p>Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}