{% extends "base.html" %}

{% block title %}
  <title>Blogs</title>
{% endblock title %}

{% block body %}

<h1 class="text-center text-danger fw-bolder">{{category.category_title}}</h1>
{% for blogs in blogs  %}
<div class="container p-5  h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    
    <div class="col">
      <div class="card rounded-3">
        <div class="card-body p-4">

          <h4 class="text-center my-3 pb-3">Blogs are Here</h4>
          <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Blog</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{blogs.blog_id}}</th>
                <td><a href="/blog/{{blogs.url}}"><h4 class="text-success fw-bold">{{blogs.blog_title}}</h4></a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
 
{% endblock body %}